body {
  background-color: $bg-body-color;
}

/*** Links ***/
.dev-link {
  color: $brand-rgb;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.link {
  color: $brand-rgb;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
