.dev-aside-left {
  &__container {
    .aside-cards-dev-community {
      .card {
        margin: 16px 0;
        border: none;
        padding: 16px;
        &--header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;
          .txt-header {
            color: $text-comment;
            font-size: 14px;
          }
          .btn-header {
            border: 0;
            font-size: 18px;
            background-color: transparent;
            &:hover {
              border-radius: 4px;
              background-color: $bg-hover;
            }
          }
        }
        &--content {
          padding: 12px 4px 4px;

          a {
            img {
              height: auto;
              width: 100%;
              margin-bottom: 20px;
            }
          }
          h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
          }

          button {
            padding-right: 8px;
            font-weight: 600;
            border: 1.5px solid $brand-darker-rgb;
            color: $brand-rgb;

            &:hover {
              background-color: $brand-rgb;
              color: $text-color;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .aside-footer {
      p {
        font-size: 0.87rem;
        color: $text-comment;
      }
    }
  }
}
