// Colors Brand
$brand-lighter-rgb: rgb(80, 99, 301);
$brand-rgb: rgb(59, 73, 223);
$brand-darker-rgb: rgb(47, 58, 178);

// backgrounds colors
$bg-header-color: white;
$bg-body-color: rgb(245, 245, 245);
$bg-hover: rgba(0, 0, 0, 0.035);

// txt
$text-color: #f8f8f2;
$text-comment: rgb(115, 115, 115);

// box
$box-shadow-header: 0 1px 1px rgba(0, 0, 0, 0.1);

// border
$border-dev-size: 1.5px;
$border-dev-color: rgb(212, 212, 212);
