body {
  background-color: rgb(245, 245, 245);
}

/*** Links ***/
.dev-link {
  color: rgb(59, 73, 223);
  font-weight: 600;
  text-decoration: none;
}
.dev-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  color: rgb(59, 73, 223);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dev-header {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 56px;
}
.dev-header__container {
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
}
.dev-header__container .dev-logo {
  text-decoration: none;
  height: 40px;
  width: 50px;
}
.dev-header__container .dev-logo__img {
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
}
.dev-header__container .dev-search {
  max-width: 420px;
  width: 420px;
  max-height: 39;
  height: 39;
  margin: 0 1rem;
}
.dev-header__container .dev-search__fields {
  border: 1.5px solid rgb(212, 212, 212);
  border-radius: 6px;
  display: flex;
  padding-left: 6px;
}
.dev-header__container .dev-search__fields--input {
  border: 0;
  outline: none;
  flex: auto;
}
.dev-header__container .dev-search__fields--button {
  background-color: transparent;
  border: 0;
  border-radius: 6px;
  height: 37px;
  width: 40px;
}
.dev-header__container .dev-search__fields--button:hover {
  background-color: #e9ecef;
}
.dev-header__container .dev-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  width: auto;
}
.dev-header__container .dev-menu span {
  margin-right: 8px;
  color: black;
}
.dev-header__container .dev-menu span:hover {
  text-decoration: underline;
  background-color: #e9ecef;
}
.dev-header__container .dev-menu__autentication {
  display: flex;
}
.dev-header__container .dev-menu__autentication--btn {
  padding-right: 8px;
  font-weight: 600;
  border: 1.5px solid rgb(47, 58, 178);
  color: rgb(59, 73, 223);
}
.dev-header__container .dev-menu__autentication--btn:hover {
  background-color: rgb(59, 73, 223);
  color: #f8f8f2;
  text-decoration: underline;
}
.dev-header__container .dev-menu__autentication--avatar {
  display: none;
  height: 40px;
  width: 40px;
  background-color: hotpink;
  border-radius: 50%;
}
.dev-header__container .dev-menu__autentication--avatar > span {
  font-size: 9px;
  text-align: center;
  color: aliceblue;
}

.dev-aside-left__container .aside-cards-dev-community .card {
  margin: 16px 0;
  border: none;
  padding: 16px;
}
.dev-aside-left__container .aside-cards-dev-community .card--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.dev-aside-left__container .aside-cards-dev-community .card--header .txt-header {
  color: rgb(115, 115, 115);
  font-size: 14px;
}
.dev-aside-left__container .aside-cards-dev-community .card--header .btn-header {
  border: 0;
  font-size: 18px;
  background-color: transparent;
}
.dev-aside-left__container .aside-cards-dev-community .card--header .btn-header:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.035);
}
.dev-aside-left__container .aside-cards-dev-community .card--content {
  padding: 12px 4px 4px;
}
.dev-aside-left__container .aside-cards-dev-community .card--content a img {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.dev-aside-left__container .aside-cards-dev-community .card--content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.dev-aside-left__container .aside-cards-dev-community .card--content p {
  font-size: 16px;
}
.dev-aside-left__container .aside-cards-dev-community .card--content button {
  padding-right: 8px;
  font-weight: 600;
  border: 1.5px solid rgb(47, 58, 178);
  color: rgb(59, 73, 223);
}
.dev-aside-left__container .aside-cards-dev-community .card--content button:hover {
  background-color: rgb(59, 73, 223);
  color: #f8f8f2;
  text-decoration: underline;
}
.dev-aside-left__container .aside-footer p {
  font-size: 0.87rem;
  color: rgb(115, 115, 115);
}/*# sourceMappingURL=index.css.map */